/* dashboard-app/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdfdfd; /* Un blanco ligeramente cálido, menos clínico que el blanco puro */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
