# Dependencies
/node_modules
/dashboard-app/node_modules
/server/node_modules

# Build output
/dashboard-app/dist

# Environment variables
.env
/server/.env

# Docker
postgres_data/

# IDEs and OS-specific
.vscode/
*.code-workspace
.DS_Store
